<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<div class="jumbotron">
    <h1 class="display-4">Welcome to<br>WebexDigital CDN Service</h1>

    <p>
        Form more information you can reach us on info@webex.sk
    </p>
</div>
